@model IEnumerable<SMS.ModelVm.SchoolVm>
@{
	int id = 1;
}

<a asp-action="CreateOrEdit" asp-controller="School" class="btn btn-primary mb-2">Input</a>
<table class="table table-bordered table-dark shadow table-responsive">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Age</th>
			<th>Address</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>@id</td>
				<td>@item.Name</td>
				<td>@item.Age</td>
				<td>@item.Address</td>
				<td>
					<a class="btn btn-success" asp-action="CreateOrEdit" asp-controller="School" asp-route-id="@item.Id">Edits</a>
					<a class="btn btn-primary" asp-action="Details" asp-controller="School" asp-route-id="@item.Id">Details</a>
					<a class="btn btn-danger" asp-action="Delted" asp-controller="School" asp-route-id="@item.Id" onclick="return alert('Delted This Data')">Deleted</a>
				</td>
			</tr>
			id++;
		}
	</tbody>
</table>
